//All the colors used in the app will be present here.
$primary:#ffffff;
$theme:#fafafa;
$border:#ececec;
$barFontColor:#9b9b9b;
$shadow:#bebebec5;
$blueTheme:#39d4ff;
$darkBlue:#18c1f0;
$greyTheme:#d8d8d8;
$headingNormColor:#4a4a4a;
$smallSize:12px;
$headingSize:14px;
$validation:#d80909b3;