<div class="container">
  <div class="logo">
    <img src="assets/img/logo.png" alt="">
  </div>
  <div class="options">
    <img src="assets/img/settings.png" alt="">
    <p>Settings</p>
  </div>
  <div class="options">
    <img src="assets/img/chat.png" alt="">
    <p>Chat</p>
  </div>
  <div class="options">
    <img src="assets/img/rating.png" alt="">
    <p>Rating</p>
  </div>
  <div class="options">
    <img src="assets/img/info.png" alt="">
    <p>Info</p>
  </div>
  <div class="options">
    <img src="assets/img/social.png" alt="">
    <p>Social</p>
  </div>
  <div class="options">
    <img src="assets/img/refer.png" alt="">
    <p>Refer</p>
  </div>
  <div class="options" (click)="login()">
    <img src="assets/img/refer.png" alt="">
    <p>Login</p>
  </div>
</div>