<div class="container">
  <div class="logo">
    <img src="assets/img/logo.png" alt="">
  </div>
  <div class="options">
    <img src="assets/img/settings.png" alt="">
    <p>Dashboard</p>
  </div>
  <div class="options">
    <img src="assets/img/chat.png" alt="">
    <p>Scheduling</p>
  </div>
  <div class="options">
    <img src="assets/img/chat.png" alt="">
    <p>Chat</p>
  </div>
  <div class="options">
    <img src="assets/img/social.png" alt="">
    <p>Social</p>
  </div>
  <div class="options">
    <img src="assets/img/rating.png" alt="">
    <p>Forms</p>
  </div>
  <div class="options">
    <img src="assets/img/info.png" alt="">
    <p>Marketing</p>
  </div>
  <div class="options">
    <img src="assets/img/settings.png" alt="">
    <p>Setting</p>
  </div>
  <div class="options">
    <img src="assets/img/refer.png" alt="">
    <p>Support</p>
  </div>
  <div class="options" (click)="login()">
    <img src="assets/img/refer.png" alt="">
    <p>Login</p>
  </div>
</div>