<div class="container">
  <button class="logo" mat-button>
    <img src="assets/img/logo.png" alt="">
  </button>
  <button class="options" mat-button>
    <img src="assets/img/settings.png" alt="">
    <p>Dashboard</p>
  </button>
  <button class="options" mat-button>
    <img src="assets/img/scheduling.png" alt="">
    <p>Scheduling</p>
  </button>
  <button class="options" mat-button>
    <img src="assets/img/chat.png" alt="">
    <p>Chat</p>
  </button>
  <button class="options" mat-button>
    <img src="assets/img/social.png" alt="">
    <p>Social</p>
  </button>
  <button class="options" mat-button>
    <img src="assets/img/forms.png" alt="">
    <p>Forms</p>
  </button>
  <button class="options" mat-button>
    <img src="assets/img/marketing.png" alt="">
    <p>Marketing</p>
  </button>
  <button class="options" mat-button>
    <img src="assets/img/settings.png" alt="">
    <p>Setting</p>
  </button>
  <button class="options" mat-button>
    <img src="assets/img/support.png" alt="">
    <p>Support</p>
  </button>
  <button class="options" (click)="login()" mat-button>
    <img src="assets/img/refer.png" alt="">
    <p>Login</p>
  </button>
</div>