/* You can add global styles to this file, and also import other style files */

@import './theme/variables';
//importing For Angular material
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    background: $theme;
    padding: 0;
    margin: 0;
    font-family: 'ProximaNova-Regular'
}

$font-path: "/assets/fonts";
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url("#{$font-path}/ProximaNova-Regular.eot");
    src: url("#{$font-path}/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), // url("#{$font-path}/ProximaNova-Regular.woff") format("woff"),
    url("#{$font-path}/ProximaNova-Regular.ttf") format("truetype"),
    url("#{$font-path}/ProximaNova-Regular.svg") format("svg");
}